bokeh==0.12.0
click==6.7
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.9
django-toolbelt==0.0.1
djangorestframework==3.8.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==0.23
numpy==1.11.1
packaging==17.1
pandas==0.23.4
pandas-drf-tools==0.1.1
psycopg2==2.7.5
pyparsing==2.2.0
python-dateutil==2.5.3
pytz==2018.5
PyYAML==3.11
requests==2.10.0
six==1.10.0
static3==0.7.0
tornado==4.3
Werkzeug==0.14.1
